# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake
cmake-build-debug
cmake-build-release
.cache.mk

# IDE
.idea
build

# web
.idea
node_modules
test

Android/*.iml
Android/.gradle
Android/local.properties
Android/.idea/caches
Android/.idea/libraries
Android/.idea/modules.xml
Android/.idea/workspace.xml
Android/.idea/navEditor.xml
Android/.idea/assetWizardSettings.xml
Android.DS_Store
Android/build
Android/captures
Android.externalNativeBuild
